@import "./variables.scss";
@import "./mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    @media (max-width: $extraLargeScreen) {
        padding: 0 20px;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    @include fontStyleForHeaders(140px, 500, "Amatic SC", $dark-brown);
    @media (max-width: $mobileScreen) {
        @include fontStyleForHeaders(100px, 500, "Amatic SC", $dark-brown);
    }
    @media (max-width: $smallMobileScreen) {
        @include fontStyleForHeaders(80px, 500, "Amatic SC", $dark-brown);
    }
}
h2 {
    @include fontStyleForHeaders(120px, 400, "Amatic SC", $dark-brown);
    @media (max-width: $mobileScreen) {
        @include fontStyleForHeaders(80px, 500, "Amatic SC", $dark-brown);
    }
    @media (max-width: $smallMobileScreen) {
        @include fontStyleForHeaders(60px, 500, "Amatic SC", $dark-brown);
    }
}
h3 {
    @include fontStyleForHeaders(100px, 500, "Alumni Sans", $dark-brown);
    @media (max-width: $mobileScreen) {
        @include fontStyleForHeaders(60px, 500, "Alumni Sans", $dark-brown);
    }
    @media (max-width: $smallMobileScreen) {
        @include fontStyleForHeaders(40px, 500, "Alumni Sans", $dark-brown);
    }
}
