@import "./variables.scss";
@mixin fontStyle($fz, $fw, $ff, $fc) {
    font-size: $fz;
    color: $fc;
    font-family: $ff, sans-serif;
    font-weight: $fw;
}
@mixin flexAndCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin buttonStyle {
    font-size: 30px;
    background-color: $dark-brown;
    font-family: "Alumni Sans", sans-serif;
    color: $light-brown;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}
