@import "./variables.scss";
@mixin fontStyleForHeaders($fz, $fw, $ff, $fc) {
    font-size: $fz;
    color: $fc;
    font-family: $ff, sans-serif;
    font-weight: $fw;
    @media (max-width: $extraLargeScreen) {
        font-size: calc($fz / 1.5);
    }
    @media (max-width: $tabletScreen) {
        font-size: calc($fz / 2.5);
    }
}
@mixin fontStyle($fz, $fw, $ff, $fc) {
    font-size: $fz;
    color: $fc;
    font-family: $ff, sans-serif;
    font-weight: $fw;
    @media (max-width: $extraLargeScreen) {
        font-size: calc($fz / 1.5);
    }
    @media (max-width: $tabletScreen) {
        font-size: calc($fz / 2);
    }
    @media (max-width: $mobileScreen) {
        font-size: calc($fz / 3);
    }
    @media (max-width: $smallMobileScreen) {
        font-size: calc($fz / 4);
    }
}
@mixin flexAndCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin buttonStyle {
    @include fontStyle(30px, 500, "Alumni Sans", $light-brown);
    background-color: $dark-brown;
    border-radius: 30px;
    padding: 10px 40px;
    border: none;

    cursor: pointer;
    @media (max-width: $tabletScreen) {
        padding: 10px 20px;
    }
    @media (max-width: $mobileScreen) {
        padding: 5px 10px;
    }
}

@mixin inputStyle {
    @include fontStyle(30px, 500, "Alumni Sans", rgba(162, 81, 51, 0.5));
    border-radius: 30px;
    padding: 15px 0 15px 35px;
    border: 2px solid $dark-brown;
    &::placeholder {
        color: rgba(162, 81, 51, 0.5);
    }
    &:focus {
        border-color: $dark-brown;
        outline: none;
    }
    @media (max-width: $mobileScreen) {
        padding: 7px 0 7px 15px;
    }
}

@mixin underlineLink {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        display: block;
        width: 0;
        height: 3px;
        background: $dark-brown;
        transition: 0.3s;
        @media (max-width: $laptopScreen) {
            height: 2px;
        }
        @media (max-width: $mobileScreen) {
            height: 1px;
        }
    }
    &::after {
        left: 50%;
        transform: translate(-50%);
    }
    &:hover:after {
        width: 100%;
    }
}
