.swiper {
    max-width: 1580px;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    max-width: 380px;
    text-align: center;
    width: 100%;
    width: 100%;
    background: #fff;
    display: block;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
