$dark-brown: #a25133;
$light-brown: #f5d2ac;
$light-grey: #938989;
$extraLargeScreen: 1300px;
$desktopScreen: 1200px;
$laptopScreen: 1024px;
$tabletScreen: 768px;
$mobileScreen: 480px;
$smallMobileScreen: 320px;
