$dark-brown: #a25133;
$light-brown: #f5d2ac;
$dark-orange: #d5844f;
$light-grey: #938989;
$white: #fff;

$XXLargeScreen: 1440px;
$extraLargeScreen: 1300px;
$desktopScreen: 1200px;
$laptopScreen: 1024px;
$smallLaptopScreen: 868px;
$tabletScreen: 768px;
$mobileScreen: 480px;
$smallMobileScreen: 320px;
